.addressTab {
	
}

.Btn div {
	float: left;
}

.order_info_l {
	height: 48px;
	line-height: 48px;
	width: 100%;
	background: url('/fmcis/css/website/order/order_info_l.png') no-repeat;
}

.order_info_m {
	height: 48px;
	line-height: 48px;
	width: 99%;
	margin: -56px 0px 0px 6px;
	background: url('/fmcis/css/website/order/order_info_m.png') repeat-x
		right center;
}

.order_info_r {
	height: 48px;
	line-height: 48px;
	width: 100%;
	margin-top: -48px;
	background: url('/fmcis/css/website/order/order_info_r.png') no-repeat
		top right;
}

.close {
	height: 30px;
	margin: -35px 10px 10px 980px;
}

.add_address_Btn {
	margin: -10px 0px 0px -995px;
}

.firstTr {
	height: 30px;
	width: 100%;
	background-color: #97CDFF;
	width: 100%;
}

.title {
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	font-weight: bold;
	margin-left: 5px;
	width: 100%;
	color: blue;
}

.secTr {
	height: 30px;
	width: 100%;
	background-color: #B0E0E6;
}

.contentTr {
	height: 60px;
	width: 100%;
}